#flickr h1 {
    margin: 5px;
}

#flickr h2 {
    margin: 5px;
}

#flickr p {
    margin: 5px;
}

#flickr .imgBox {
    padding: 2px;
    margin: 2px;
    border: 1px solid grey;
    border-radius: 0.25rem;
    float: left;
    width: 100%;
}

#flickr img {
    padding: 2px;
    margin: 2px; border: 1px solid lightgrey;
    border-radius: 0.25rem;
    float: left;
    width: 95%;
}

#flickr .box {
    border: 2px solid green;
    padding: 5px;
    float: left;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5x;
    margin-bottom: 5px;
    padding: 20px;
    height: auto;
}

#flickr .textInput{
    margin: 5px;
    float: left;
}

#flickr .btn{
    margin: 5px;
    float: left;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #flickr .imgBox {
        width: 20%;
    }
}